<div class="container">
  <div class="col-lg-12" align="left">
    <h3>DTU Ballerup Lokaleoversigt</h3>
    <hr>
    <h4>Stueetage</h4>
      <div>
        <img src="https://i.ibb.co/BtdPZ0z/Ballerup-stue.jpg" alt="Stueetage" align="right"
           style="max-width: 300px; max-height: 300px;  min-width: 300px; min-height: 300px;">
          <ul>
            <li>6 gruppelokaler til booking</li>
            <li>Reception med mulighed for hjælp</li>
            <li>Gratis sort/hvid print for DTU-studerende</li>
          </ul>
        <br><br><br><br><br><br><br><br><br><br>
      </div>
    <hr>
  </div>
</div>
