<div class="container">
  <div class="col-lg-12">
  <h4>Denne webapplikation er udviklet af Gruppe 20 i kurset 02363 Front end web teknologi</h4>
  <h4>Den fungerer sammen med vores backend udviklet i 62597 Backendudvikling, drift og distribuerede systemer, hvor vores gruppenr. er 55</h4>
  <hr>
  <h3>Gruppe 20 består af:</h3>
  <ul>
    <li>Markus Isling Haag</li>
    <li>Gustav Hove Kristensen</li>
    <li>Andreas Hyldahl</li>
    <li>Asger Åkerman</li>
    <li>Mads Geertsen</li>
    <li>Nikolaj Ole Schwartz Hem</li>
  </ul>
  </div>
</div>
