<div class="container">
  <h3>De indtastede loginoplysninger var forkerte!</h3>
  <hr>
  <p>Hvis du skrev forkert, så gå tilbage og prøv igen.</p>
  <hr>
  <p>Indtast din DTU-mailadresse herunder, hvis du har glemt din kode, og du vil få tilsendt dine loginoplysninger:</p>
      <form (submit)="onMailSubmit($event)">
        <div class="input">
          <label>Emailadresse:   </label>
          <input type="text">
          <input type="submit"   value="Send">
        </div>
      </form>
</div>
