<app-navigationbar></app-navigationbar>

<div class="col-xs-12">
  <ul>
    <p> Room 4 from 16-18 <button class="btn-danger" style="font-size: small">Delete this booking</button> </p>
    <p> Room 4 from 16-18 <button class="btn-danger" style="font-size: small">Delete this booking</button> </p>
    <p> Room 4 from 16-18 <button class="btn-danger" style="font-size: small">Delete this booking</button> </p>
    <p> Room 4 from 16-18 <button class="btn-danger" style="font-size: small">Delete this booking</button> </p>
    <p> Room 4 from 16-18 <button class="btn-danger" style="font-size: small">Delete this booking</button> </p>


  </ul>
</div>
