<div class="container" *ngIf="isUserLoggedIn">
  <br>
  <div class="row">
  <div class="col-lg-2">
              <img src="https://www.dtubasen.dtu.dk/showimage.aspx?id={{this.bruger.campusId}}" alt="NoPicture"
                   style="max-width: 200px; max-height: 250px;  min-width: 200px; min-height: 150px; margin-right: 20px">
  </div>
    <div class="col-lg-2" style="margin-left: 40px">
        <h3><strong>Brugernavn: </strong>{{bruger.username}}</h3>
        <h3><strong>Fornavn: </strong>{{bruger.firstName}}</h3>
        <h3><strong>Efternavn: </strong>{{bruger.lastName}}</h3>

    </div>

  </div>
  <br>
  <br>
  <div *ngIf="!passwordChanged" class="row">
    <div class="col-lg-8">
      <h3>Skift din adgangskode:</h3>
      <div class="form-group">
        <label for="glPassword">Indtast din gamle adgangskode: </label>
        <input type="text" class="form-control" id="glPassword">
      </div>
      <div class="form-group">
        <label for="nyePassword">Indtast din nye adgangskode: </label>
        <input type="password" class="form-control" id="nyePassword">
      </div>
    </div>
  </div>
  <div *ngIf="!passwordChanged" class="row">
    <div class="col-lg-4">
      <button mat-flat-button id="opretbooking" color="red" (click)="skiftPassword()" style="font-family: NeoSansW01, serif; font-size: 17px"  >Skift adgangskode</button>
    </div>
  </div>
  <div class="row" *ngIf="!passwordChanged">
    <h3 style=""></h3>
  </div>
  <div *ngIf="!passwordChanged" class="row" style="">
    <div class="col-lg-12">
      <h3 style="font-family: NeoSansW01, serif; font-size: 17px; color: crimson" >OBS. Af sikkerhedsmæssige årsager bliver du logget ud når din adgangskode er ændret</h3>
    </div>
  </div>

  <div class="row" *ngIf="passwordChanged">
    <div class="col-lg-12">
      <h3>Din adgangskode er blevet ændret. Du kan nu skifte til en anden fane </h3>
    </div>
  </div>

</div>
<div class="container" *ngIf="!isUserLoggedIn">
  <div class="col-lg-12">
    <h3>Du skal være logget ind for at tilgå denne side!</h3>
  </div>
</div>

