<div class="container">
<div class="col-xs-12">
  <div class="row boxblue">
    <input type="number" value="{{booking.userId}}"><button (click)="fetchData()">Opdater booking</button>
    <p *ngIf="hentetBookings.length < 1">Ingen bookings</p>
    <ul *ngIf="hentetBookings.length >= 1">
      <li *ngFor="let data of hentetBookings">Booking: {{data.id}} - Room: {{data.roomId}} - From: {{data.timeblock}}
        &nbsp;&nbsp;&nbsp; - &nbsp;&nbsp;&nbsp;
        <button mat-flat-button id="delete-buttom" color="red" (click)="confirmDeleteBooking()">Delete this booking</button> <br> <br>
      </li>
    </ul>
  </div>
</div>
</div>
