<div class="container">
  <div class="row boxblue">
    <div class="col-lg-3">

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="datepicker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      </div>
    <div class="col-lg-2">
      <label for="findknap"> </label>
      <button class="btn btn-primary" id="findknap" (click)="refresh()">Find ledige lokaler</button>
    </div>
  </div>



  <!--!>
  <div *ngIf="showTimeblocks" class="row" id="buttonrow">
      <div class="col-lg-1" id="stueetagebtngroup">
        <h3 style="font-family: NeoSansW01, serif; font-weight: bold; font-size: 20px">Stueetage</h3>
        <div  class="btn-group-vertical">
          <button class="btn btn-success" style="font-size: 25px">08-10</button>
          <br>
          <button class="btn btn-success" style="font-size: 25px" >10-12</button>
          <br>
          <button class="btn btn-success" style="font-size: 25px">12-14</button>
          <br>
          <button class="btn btn-success" style="font-size: 25px">14-16</button>
        </div>
      </div>
    <div class="col-lg-1" id="1sal">
      <h3 style="font-family: NeoSansW01, serif; font-weight: bold; font-size: 20px">1. Sal</h3>
      <div  class="btn-group-vertical">

      </div>
    </div>

    <div class="col-lg-1">
      <h3 style="font-family: NeoSansW01, serif; font-weight: bold; font-size: 20px">2. Sal</h3>
      <div class="btn-group-vertical">
        <button class="btn btn-success" style="font-size: 25px">08-10</button>
        <br>
        <button class="btn btn-success" style="font-size: 25px">10-12</button>
        <br>
        <button class="btn btn-success" style="font-size: 25px">12-14</button>
        <br>
        <button class="btn btn-success" style="font-size: 25px">14-16</button>
      </div>
    </div>
<div class="col-lg-1">
  <br>
</div>
    <div class="col-lg-8">
        <div class="col-lg-7">
          <h3 style="font-family: NeoSansW01, serif; font-weight: bold; font-size: 20px">Din foreløbige booking</h3>
        </div>


        <div class="col-lg-1">
        <button class="btn btn-primary" style="float: right">Book lokale</button>
        </div>
    </div>
  </div>
<-->
  <br>
  <div  class="row">
    <div class="col-lg-2">
      <label for="stuelokale1" style="float: left; font-size: 20px; ">Stue lokale 1: </label>
      <br>
      <div class="btn-group-vertical" id="stuelokale1" style="min-width: 150px">
        <button class="btn btn-success" style="font-size: 20px" id="0810">08-10</button>
          &nbsp;
        <button class="btn btn-success" style="font-size: 20px">10-12</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">12-14</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">14-16</button>
      </div>
    </div>
    <div class="col-lg-2">
      <label for="stuelokale2" style="float: left; font-size: 20px">Stue lokale 2: </label>
      <br>
      <div class="btn-group-vertical" id="stuelokale2" style="min-width: 150px">
        <button class="btn btn-success" style="font-size: 20px">08-10</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">10-12</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">12-14</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">14-16</button>
      </div>
    </div>

    <div class="col-lg-2">
      <label for="stuelokale1" style="float: left; font-size: 20px">Stue lokale 3: </label>
      <br>
      <div class="btn-group-vertical" id="stuelokale3" style="min-width: 150px">
        <button class="btn btn-success" style="font-size: 20px">08-10</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">10-12</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">12-14</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">14-16</button>
      </div>

    </div>
    <div class="col-lg-2">
      <label for="stuelokale1" style="float: left; font-size: 20px">Stue lokale 4: </label>
      <div class="btn-group-vertical" id="stuelokale4" style="min-width: 150px">
        <button class="btn btn-success" style="font-size: 20px">08-10</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">10-12</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">12-14</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">14-16</button>
      </div>
    </div>
    <div class="col-lg-2">
      <label for="stuelokale1" style="float: left; font-size: 20px">Stue lokale 5: </label>
      <br>
      <div class="btn-group-vertical" id="stuelokale5" style="min-width: 150px">
        <button class="btn btn-success" style="font-size: 20px">08-10</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">10-12</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">12-14</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px">14-16</button>

      </div>
    </div>
    <div class="col-lg-2">
      <label for="stuelokale1" style="float: left; font-size: 20px">Stue lokale 6: </label>
      <div class="btn-group-vertical" id="stuelokale6" style="min-width: 150px;">
        <button class="btn btn-success" style="font-size: 20px; border-radius: 10px">08-10</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px; border-radius: 10px">10-12</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px; border-radius: 10px">12-14</button>
        &nbsp;
        <button class="btn btn-success" style="font-size: 20px; border-radius: 10px">14-16</button>
      </div>
    </div>

  </div> <!--!> Stueetage <-->
  <br>
  <div   class="row">
    <div class="col-lg-4">

    </div>
  </div> <!--!> Stueetage <-->







  <br>
  <br>


<br>


  <p *ngIf="hentetBookings.length < 1">Ingen bookings</p>
  <ul *ngIf="hentetBookings.length >= 1">
    <li *ngFor="let data of hentetBookings">Booking: {{data.id}} - Room: {{data.roomId}} - From: {{data.timeblock}}
  </ul>

</div>
