<div class="container">
  <div class="row boxblue">
    <div class="col-lg-3">

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date" id="datepicker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      </div>
    <div class="col-lg-2">
      <label for="findknap"> </label>
      <button class="btn btn-primary" id="findknap">Find ledige lokaler</button>
    </div>
  </div>

  <p *ngIf="hentetBookings.length < 1">Ingen bookings</p>
  <ul *ngIf="hentetBookings.length >= 1">
    <li *ngFor="let data of hentetBookings">Booking: {{data.id}} - Room: {{data.roomId}} - From: {{data.timeblock}}
  </ul>

<div class="row">
    <div class="col-lg-6">
      <label for="tid">Vælg ankomst</label><br>
      <div class="btn-group btn-group-lg" id="tid">
        <button type="button" class="btn btn-danger" style="font-family: NeoSansW01, serif">08-10</button>
        <button type="button" class="btn btn-success" style="font-family: NeoSansW01, serif">10-12</button>
        <button type="button" class="btn btn-danger" style="font-family: NeoSansW01, serif">12-14</button>
        <button type="button" class="btn btn-danger" style="font-family: NeoSansW01, serif">14-16</button>
      </div>

      <div class="btn-group btn-group-lg mt-1" id="tid2">
        <button type="button" class="btn btn-danger" style="font-family: NeoSansW01, serif">16-18</button>
        <button type="button" class="btn btn-danger" style="font-family: NeoSansW01, serif">18-20</button>
        <button type="button" class="btn btn-success" style="font-family: NeoSansW01, serif">20-22</button>
        <button type="button" class="btn btn-success" style="font-family: NeoSansW01, serif">22-24</button>


<div class="row">
  <div class="row"></div>
    </div>
      <label for="tid" >Vælg udtjekning</label><br>
      <div class="btn-group btn-group-lg" id="tidud">
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">08-10</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">10-12</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">12-14</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">14-16</button>
      </div>

      <div class="btn-group btn-group-lg mt-1" id="tidud2">
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">16-18</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">18-20</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">20-22</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">22-24</button>
      </div>
      </div>
  </div>
  <div class="col-lg-6">
    <img src="/assets/img/Ballerup-stue.jpg" alt="Stueetage"
         style="max-width: 300px; max-height: 200px;  min-width: 200px; min-height: 300px;">
  </div>
  <div class="row">
    <div class="col-lg-6" >

    </div>
  </div>



  </div>
</div>
