<div class="container">
  <div class="row boxblue">
    <div class="col-lg-12">

      <div class="input-group date" data-provide="datepicker">
        <label style="font-family: NeoSansW01, serif">Vælg Dato
          <input type="date" class="form-control">
        </label>

      </div>


    </div>

    <br>
    <div class="col-lg-6">
      <div class="form-group left" >
        <label for="sel1" style="font-family: NeoSansW01, serif">Vælg Antal personer</label>
        <select class="form-control" id="sel1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
          <option>11</option>
          <option>12</option>
        </select>
      </div>
    </div>

    <div class="col-lg-2">
      <label for="ankomme" style="font-family: NeoSansW01, serif">Indtjekning</label>
      <select class="form-control" id="ankomme">
        <option>08-10</option>
        <option>10-12</option>
        <option>12-14</option>
        <option>14-16</option>
        <option>16-18</option>
        <option>18-20</option>
        <option>20-22</option>
        <option>22-24</option>
      </select>
    </div>

    <div class="col-lg-2">
      <label for="gå" style="font-family: NeoSansW01, serif">Udtjekning</label>
      <select class="form-control" id="gå">
        <option>08-10</option>
        <option>10-12</option>
        <option>12-14</option>
        <option>14-16</option>
        <option>16-18</option>
        <option>18-20</option>
        <option>20-22</option>
        <option>22-24</option>
      </select>
    </div>
  </div>
<div class="row">
    <div class="col-lg-6">
      <label for="tid">Vælg ankomst</label><br>
      <div class="btn-group btn-group-lg" id="tid">
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">08-10</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">10-12</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">12-14</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">14-16</button>
      </div>

      <div class="btn-group btn-group-lg mt-1" id="tid2">
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">16-18</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">18-20</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">20-22</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">22-24</button>


<div class="row">
  <div class="row"></div>
    </div>
      <label for="tid" >Vælg udtjekning</label><br>
      <div class="btn-group btn-group-lg" id="tidud">
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">08-10</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">10-12</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">12-14</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">14-16</button>
      </div>

      <div class="btn-group btn-group-lg mt-1" id="tidud2">
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">16-18</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">18-20</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">20-22</button>
        <button type="button" class="btn btn-primary" style="font-family: NeoSansW01, serif">22-24</button>
      </div>
      </div>
  </div>
  <div class="col-lg-6">
    <img src="/assets/img/Ballerup-stue.jpg" alt="Stueetage"
         style="max-width: 300px; max-height: 200px;  min-width: 200px; min-height: 300px;">
  </div>
  <div class="row">
    <div class="col-lg-6" >

    </div>
  </div>



  </div>
</div>
